body {
	line-height: 1.4em;
	background-color: #e9e9e9;
}

.body-wrap {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	border: 3px solid #e1e1e1;
	padding: 3px;
}

.head-wrap,
.foot-wrap,
label,
.label {
	color: #888;
}

label,.label {
	font-size:1.1em;
}

.head-wrap {
	padding: 10px 10px 25px 10px;	
}

.head-wrap .head-top-wrap {
	overflow: auto;
}

.head-wrap .header {
	clear: left;
	float: left;
	display: inline;		
	margin-bottom: 20px;
}

.head-wrap .page-tools {
	float:right;
	display: inline;	
	margin-right: 20px;
	font-size: 18px;	
}

.head-wrap a.try-it {
	font-size: 25px;
	margin: 0px 10px 5px 0px;
}

a.try-it.hint {
	font-size: 14px;
	margin-top: 20px;
	margin-left: 40px;
}

.head-wrap .links-summary {
	text-align: center;
}

.head-wrap .links {
	text-align: center;
}

.head-wrap .links a {
	font-size: 1.1em;
}

.head-wrap .flash {
	margin-top: 10px;
	text-align: center;
	color: #000;
	border: 1px solid #f00;
	background-color: #fee;		
	list-style-type: none;
}

.content-wrap {
	overflow: auto;
	width: 100%;
	overflow: hidden;
}

.macros {
	font-size: 0.9em;
	color: #888;
	float:right;
}

.source-wrap {
	clear: left;
	float: left;
	width: 475px;
	display: inline;
}

.runner-wrap {
	float: right;
	width: 475px;
	display: inline;
}

.spec-runner {
	margin-top:10px;
}

a {
	color: #4183C4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

textarea.source {
	font: normal normal normal 99%/normal helvetica, arial, freesans, sans-serif;	
	border-bottom-color: #DDD;
	border-bottom-color: #DDD;
	border: 1px solid;
	border-right-color: #DDD;
	border-right-color: #DDD;
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 12px;
	height: 300px;
	margin: 10px;
	width: 97.5%;	
}

textarea.error {
	border-color: #f00;
	background-color: #fee;
}

.runner-wrap.error {
	opacity : 0.4;
	filter: alpha(opacity=40); // msie
	background-color: #000;
}

pre.template {
	display:none;
}

iframe { 
	display: none;
}

.foot-wrap .who {
	margin-top: 15px;
	text-align: center;
}

a.clear-saved.hidden, .hidden {
	display:none;
}