body {
  line-height: 1.4em;
  background-color: #e9e9e9;
}

.passing {
  background-color: #cfc;
}

.body-wrap.passing-border {
  border: 1px solid #42a642;
}

.failing {
  background-color: #fbb;
}

.body-wrap.failing-border {
  border: 1px solid #a63d3d;
}

.body-wrap {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 3px;
}

.head-wrap,
.foot-wrap,
label,
.label {
  color: #888;
}

label,.label {
  font-size:1.1em;
}

.head-wrap {
  padding: 10px 10px 0px 10px;
}

.head-wrap .head-top-wrap {
  overflow: auto;
}

.head-wrap .header {
  clear: left;
  float: left;
  display: inline;
  margin-bottom: 20px;
}

.head-wrap .page-tools {
  float:right;
  display: inline;
  margin-right: 90px;
  font-size: 18px;
}

.head-wrap a.try-it {
  font-size: 25px;
  margin: 0px 10px 5px 0px;
}

a.try-it.hint {
  font-size: 18px;
}

.hint {
  text-align: center;
}

.runner-notice {
  display: inline-block;
  font-size: .8em;
  color: #333;
  padding: 5px;
  cursor: pointer;
}

.head-wrap .flash {
  margin-top: 10px;
  text-align: center;
  color: #000;
  border: 1px solid #f00;
  background-color: #fee;
  list-style-type: none;
}

.content-wrap {
  overflow: auto;
  width: 100%;
  overflow: hidden;
}

.meta {
  margin: 5px 0px 5px 0px;
  padding-bottom: 20px;
}

.coffee-controls {
  font-size: 0.9em;
  color: #888;
  float:right;
}

.macros {
  font-size: 0.9em;
  color: #888;
  float:left;
}

.source-wrap {
  margin: 20px 0px 5px 0px;
  clear: both;
}

.editor-mode {
  margin-left: 30px;
  font-size: 0.9em;
  color: #888;
}

.runner-wrap {
  margin: 15px 0px 5px 0px;
}

.spec-runner {
  margin-top:10px;
}

.load-spin {
  text-align: center;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.source.error {
  border: 1px solid #f00;
  background-color: #fee;
}

.runner-wrap.error {
  opacity : 0.4;
  filter: alpha(opacity=40); // msie
  background-color: #000;
}

pre.template {
  display:none;
}

iframe {
  display: none;
}

.links-summary {
  text-align: center;
}

.links {
  text-align: center;
}

.links a {
  font-size: 1.1em;
}


.foot-wrap {
  margin-top: 10px;
}

.foot-wrap .who {
  margin-top: 15px;
  text-align: center;
}

.page-tools a.clear-saved.hidden,
.hidden {
  display:none;
}

.editor {
  margin: 0px;
  width: 940px;
  height: 300px;
  overflow: auto;
}

.editor-wrapper {
  width: 100%;
  height: 300px;
  margin: 30px 5px 30px 5px;
}


.editor.vertical {
  margin: 0px;
  width: 460px;
  height: 600px;
  overflow: auto;
}

.editor-wrapper.vertical {
  display: inline-block;
  width: 460px;
  height: 600px;
  margin: 10px 5px 10px 5px;
}